<template>
  <section id="home">
    <div id="banner">
      <div class="container">
        <div class="row">
          <div class="col-6 offset-3">
            <h4>LetsEat helps you decide where to eat</h4>
            <form @submit.prevent="submitForm">
              <div class="input-group">
                <input type="text" class="form-control form-control-lg" v-model="nearby" placeholder="Search restaurants near by">
                <div class="input-group-addon">
                  <span class="fa fa-lg fa-search"></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-12 col-md-9">
          <h6 class="text-muted mb-4">Discover restaurants near {{ $store.state.nearby }}</h6>
          <div class="row">
            <div class="col-6" v-for="place in places">
              <div class="restaurant-card">
                <h5 class="restaurant-title"><router-link :to="'/' + place.id + '/' + place.name">{{ place.name }} <small class="text-muted fa fa-check-circle" v-show="place.verified"></small></router-link></h5>
                <p class="text-muted">{{ place.location.address }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <h6 class="text-muted mb-3">Discover by Category</h6>
          <div v-for="cat in categories">
            <p>
              <img :src="cat.icon.prefix + 'bg_32' + cat.icon.suffix" />
              <router-link :to="'/category/' + cat.id + '/' + cat.shortName">{{ cat.shortName }}</router-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      places: [],
      nearby: null
    }
  },
  computed: {
    categories () {
      return this.$store.state.categories.slice(0, 12)
    }
  },
  mounted () {
    this.nearby = this.$store.state.nearby
    this.fetch()
  },
  methods: {
    fetch () {
      this.$store.dispatch('fetchPlaces', this.nearby).then(res => {
        this.places = res
      })
    },
    submitForm () {
      this.fetch()
    }
  }
}
</script>

<style scoped>
#banner {
  background: linear-gradient(rgba(49,47,47,.8) 0,rgba(49,47,47,.8) 100%), url('/static/images/header_background.png') no-repeat;
  background-size: 100%;
  padding-top: 64px;
  height: 256px;
}
#banner h4 {
  color: #fff;
  margin-bottom: 24px;
  text-align: center;
}
.restaurant-card {
  margin-bottom: 24px;
}
.restaurant-title a {
  color: #333;
}
</style>
