<template>
  <div id="place" v-if="place" class="container">
    <router-link to="/">Back</router-link>
    <div class="row">
      <div class="col">
        <h2>{{ place.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div v-for="photo in photos" class="col-xs-6 col-md-4">
            <img class="rounded mt-4 img-responsive" width="100%" height="200px" :src="photo.prefix + photo.width + 'x' + photo.height + photo.suffix" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <p v-for="add in place.location.formattedAddress">{{ add }}</p>
        <p>{{ place.contact.formattedPhone }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import PlacesService from '@/services/Places'
export default {
  name: 'place-details',
  data () {
    return {
      place: null,
      photos: []
    }
  },
  mounted () {
    PlacesService.get(this.$route.params.id).then(res => {
      this.place = res.body.response.venue
      this.photos = this.place.photos.groups[0].items
    })
  }
}
</script>
